@import "src/styles.scss";

main {
  #error-page {
    @media #{$information-MobileLarge} {
      padding-right: 50px;
      padding-left: 50px;
      margin-right: auto;
      margin-left: auto;
    }
    .header {
      p {
        text-align: center;
        color: $color-pink;
        font-size: 1.3rem;
        animation: shakeX;
        animation-duration: 6s;
        cursor: pointer;
        @media #{$information-MobileLarge} {
          font-size: 0.9rem;
        }
      }
    }

    .inner {
      img {
        width: 100%;
      }
    }
  }
}

